.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  /* .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
    background-color: none;
  } */
  tr:nth-child(even){
    background-color: aliceblue;
    
  }
  tr:nth-child(odd){
    background-color:azure;

  }
  .table th,
  .table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  .table th{

    background-color:cadetblue   ;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .button-container button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  